{% extends 'main.html' %}
{% load static %}

{% block title %}EMPANADAS{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center">Empanadas</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'Categorias/Empanadas_pino.jpg' %}" class="card-img-top" alt="Empanada de Pino">
                <div class="card-body">
                    <h5 class="card-title">Empanada de Pino</h5>
                    <p class="card-text">Empanada tradicional rellena de carne, cebolla, aceitunas, pasas y huevo duro.</p>
                    <p class="card-text">Precio: 2.00 €</p>
                    <button class="btn btn-primary agregar-carro" nombre-producto="Empanada de Pino" precio="2.00">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'Categorias/empanadas-queso.jpg' %}" class="card-img-top" alt="Empanada de Queso">
                <div class="card-body">
                    <h5 class="card-title">Empanada de Queso</h5>
                    <p class="card-text">Empanada tradicional rellena de delicioso queso fundido.</p>
                    <p class="card-text">Precio: 1.50 €</p>
                    <button class="btn btn-primary agregar-carro" nombre-producto="Empanada de Queso" precio="1.50">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/carrito.js' %}"></script>
{% endblock %}